Use este link para redefinir sua senha. O link é válido apenas por 24 horas.

************
Olá {{user.name}},
************

Recentemente, você solicitou a redefinição da senha da sua conta [Natural World]. Use o botão abaixo para redefini-lo.
Redefina sua senha ( {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %} )

Se você não solicitou a redefinição de senha, ignore este email.

Obrigado,
A equipe Natural World

Se estiver tendo problemas com o botão acima, copie e cole o URL abaixo em seu navegador.

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}